<%- include('./partials/head.ejs') %>
<body>
        <nav>
            <ul class="top-header">
                <li><a href="/">ABOUT</a></li>
                <li><a href="/">MENTORSHIP</a></li>
                <li><a href="/about">BLOG</a></li>
                <li><a href="/">ACADEMY</a></li>
                <li><a href="/blogs/create">NEW&nbsp;BLOG</a></li>
            </ul>
        </nav>
        <div>
            <a href="/"><h1>MY BLOG</h1></a>  
        </div>  
        <h4>
            <a href="#">HOMEPAGE /</a>
            <a href="#"> BLOG NEWS /</a>
            <a href="/blogs/<%= blog._id %>"><%= blog.title.toUpperCase() %></a>
        </h4>
        <div>
            <button class="sub-buttons">BLOCKCHAIN NEWS</button>
            <button class="sub-buttons">FEATURES</button>
            <button class="sub-buttons">LEARN CRYPTO</button>
            <button class="sub-buttons">TUTORIALS</button>
        </div>
        <div class="details">
            <h2><%= blog.title %></h2>
            <h4><%= blog.snippet %></h4>
            <img src="<%= blog.image %>" alt="img." style="height: 600px; width: 1400px;">
            <p>
                Share this:
                <br>
                <span class="fa fa-whatsapp"></span>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook"></i>
                <br>
                <p class="date"><%= blog.createdAt.toLocaleDateString() %></p>
            </p> 
            <div class="blog">
                
                <p><%= blog.body %></p>
            </div>
            <button class="all-blogs"><a href="/blogs">All blogs</a></button>
            <button class="comments"><a href="/blogs/:id/Comments">View comments</a></button>
            <a class="delete" data-doc="<%= blog._id %>">delete</a> 
        </div>
        <form action="/blogs/<%= blog._id %>/comment" method="POST">
            <input type="text" class="author" name="author" id="author" placeholder="name" required>
            <input type="text" class="comments" name="comments" id="comments" placeholder="Comment here..">
            <button>comment</button>
        </form>
        <%- include('./partials/footer.ejs') %>
    
        <script>
            const trashcan = document.querySelector('a.delete');
            trashcan.addEventListener('click', (e) => {
                const endpoint = `/blogs/${trashcan.dataset.doc}`;
                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch((err) => console.log(err));
            })
        </script>
    </body>
</html>
